In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final.csv')

In [3]:
df.head()

,Unnamed: 0,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,...,Route_2,Route_3,Route_4,Route_5,dep_hour,dep_mint,arr_hour,arr_mint,hour_duration,mint_duration
0,0,0.11,0.12,0.16,0.0,0.1,3897,24,3,2019,...,13,24,12,4,22,22,1,10,2,50.0
1,1,0.12,0.11,0.12,2.0,0.1,7662,1,5,2019,...,25,1,3,4,5,5,13,15,7,25.0
2,2,0.20,0.10,0.15,2.0,0.1,13882,9,6,2019,...,32,4,5,4,9,9,4,25,19,0.0
3,3,0.11,0.11,0.12,1.0,0.1,6218,12,5,2019,...,34,3,12,4,18,18,23,30,5,25.0
4,4,0.11,0.12,0.16,1.0,0.1,13302,1,3,2019,...,34,8,12,4,16,16,21,35,4,45.0

# MODELS

In [19]:
x = df[['Airline', 'Source', 'Destination', 'Total_Stops',
       'Additional_Info', 'Date', 'Month', 'Year', 'dep_hour', 'dep_mint',
       'arr_hour', 'arr_mint', 'hour_duration', 'mint_duration']]
y = df['Price']

In [20]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test =train_test_split(x,y,test_size = 0.25,random_state=101)

LINEAR REGRESSION

In [7]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(x_train,y_train)
print(linear.score(x_test,y_test))

0.5324617361900398

RIDGE

In [9]:
from sklearn.linear_model import Ridge
ridg = Ridge()
ridg.fit(x_train,y_train)
print(ridg.score(x_test,y_test))

0.5153346937665562

Decision Trees

In [23]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(x_train,y_train)
print(tree.score(x_test,y_test))

0.7247430534596737

RANDOM FOREST

In [21]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=200)
forest.fit(x_train,y_train)
print(forest.score(x_test,y_test))

0.8117708113512743

Gradient Boost

In [22]:
from sklearn.ensemble import GradientBoostingRegressor
boost = GradientBoostingRegressor(n_estimators=500)
boost.fit(x_train,y_train)
print(boost.score(x_test,y_test))

0.8364031915888426